@import "./variables";

.dropdown {
  button {
    background-color: $accent-color;
    width: 100%;
    text-align: left;

    &:after {
      position: absolute;
      font-size: 25px;
      right: 15px;
      top: 15px;
    }

    &:hover,
    &:active {
      border: 1px solid $accent-color;
      background-color: $accent-color !important;
      filter: brightness(0.8) !important;
      -webkit-filter: brightness(0.8) !important;
    }
  }

  .dropdown-menu {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1600px) {
  .dropdown-menu {
    height: 100px;
  }

}
