@import "../../../../styles/variables";

.ban-list-container {
  position: relative;
  .title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .product-ban-list {
    overflow: hidden;
    min-width: 600px;

    max-height: 400px;
    min-height: 200px;
    overflow-y: scroll;

    .mat-header-cell {
      width: 50%;
    }
  }

  .table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
  }

  .actions {
    display: flex;
    width: 100% !important;
    min-width: 150px !important;
    justify-content: space-around;
  }

  .action-header-container {
    &:hover {
      cursor: pointer;
    }
    color: $success-color;
    display: flex;
    flex-direction: column;

    .action-name {
      font-size: 0.8em;
    }
  }
  .remove {
    color: $error-color !important;
  }

  .empty-list {
    color: white;
    margin-top: 2rem;
    position: absolute;

    p {
      font-size: 1.5em;
      font-style: italic;
      color: rgba(238, 231, 231, 0.54);
      font-weight: bold;
    }
  }
}

.sidebar-content {
  min-height: 700px;
  .product-table {
    height: 100%;
    ::ng-deep table {
      .mat-header-cell {
        font-size: 1em;
      }
    }
  }
}

.search-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 40%;

  .text-muted {
    color: black !important;
  }
}

@media screen and (max-width: 1600px) {
  .ban-list-container {
    margin-left: 66px;
    .product-ban-list {
      overflow: hidden;
      min-width: 600px;

      max-height: 200px;
      min-height: 200px;
      overflow-y: scroll;
    }

  }
  .sidebar-content {
    min-height: 550px;
    .product-table {
      height: 100%;
      ::ng-deep table {
        .mat-header-cell {
          font-size: 1em;
        }
      }
    }
  }
}
