.nutrition-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

::ng-deep custom-icon {
  img {
    width: 27px !important;
    height: 27px !important;
  }
}

.text-muted {
  font-size: 0.9em;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .calories-container {
    width: 35%;
    max-width: 350px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    .text {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    }
  }

  .details-info {
    margin-top: 1rem;
    p {
      font-size: 1.1em;
    }
    .diet-goal {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
}

.sm-desktop {

  overflow: hidden;
}

@media screen and (max-width: 1600px) {
  .sm-desktop {
    max-height: 260px;
    overflow: auto;
  }
}
