<div class="nutrition-container row">
  <div class="col-7 sm-desktop">
    <div class="row">
      <div class="col-4">
        <div class="form-input col">
          <div class="form-text text-muted">
            {{ "PRODUCTS_TABLE_PROTEIN" | translate }}
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="proteinIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.protein?.actualValue | number: '1.2-2' }} g"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">A</div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="vitaminAIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.A?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">PP</div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="vitaminPPIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.PP?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">P</div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="pIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.P?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-input col">
          <div class="form-text text-muted">
            {{ "PRODUCTS_TABLE_CARBOHYDRATES" | translate }}
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon
                  [iconData]="carbsIcon"
                  style="color: rgb(236, 216, 22)"
                ></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{
                nutritions?.carbohydrates?.actualValue | number: '1.2-2'
              }} g"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">B<sub>1</sub></div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="vitaminB1Icon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.B1?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">C</div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="vitaminCIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.C?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">Fe</div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="ferrumIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.Fe?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-input col">
          <div class="form-text text-muted">
            {{ "PRODUCTS_TABLE_FAT" | translate }}
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="fatIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.fat?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">B<sub>2</sub></div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="vitaminB2Icon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.B2?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
        <div class="form-input col">
          <div class="form-text text-muted">Ca</div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <custom-icon [iconData]="calciumIcon"></custom-icon>
              </div>
            </div>
            <input
              readonly
              value="{{ nutritions?.Ca?.actualValue | number: '1.2-2' }} mg"
              type="text"
              class="form-control shadow-none"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="details-container col-5">
    <div
      class="calories-container"
      [ngStyle]="{ 'background-color': caloriesContainerColor }"
    >
      <div class="text">
        {{ nutritions?.kcal?.actualValue | number: "1.2-2" }} kcal
      </div>
    </div>
    <div class="details-info">
      <div
        style="text-align: center"
        *ngIf="this.dietDetails?.dietGoal === DietGoal.BALANCEDIET"
      >
        <p>
          {{ "MEAL_PLAN_DIET_GOAL" | translate }}
          <span class="diet-goal" [ngStyle]="{ color: caloriesContainerColor }"
            >{{ "MEAL_PLAN_BALANCED_DIET" | translate }}.</span
          >
        </p>
        <p>
          {{ "MEAL_PLAN_DIET_NEEDED_CALORIES" | translate }}
          {{ nutritions?.kcal?.actualValue | number: "1.2-2" }} kcal
        </p>
        <p></p>
      </div>
    </div>
  </div>
</div>
