.diet-plan-container {
  height: 100%;
  width: 100%;

  .day-switch {
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .meal-actions {
    width: 100%;

    .actions {
      width: 73%;
      min-width: 800px;
      display: flex;
    }

    .progress-container {
      font-size: 15px;
      font-weight: bold;
    }

    .day-name {
      display: flex;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.product-list-container {
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 90%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

@media screen and (max-width: 1600px) {
  .action-bar {
    width: 50%;
    display: flex;
    padding: 0.5rem;
    .action-bar-container {
      margin-left: 6px;
      margin-right: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px 18px 10px 18px;
      //background-color: red;
  
      .action-text {
        // margin-top: 0.2rem;
        font-size: 10px;
      }
  
      custom-icon {
        font-size: 18px;
      }

      &:hover {
        cursor: pointer;
        // background-color: $accent-color;
      }
  
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  
  .diet-plan-container {
    height: 100%;
    width: 100%;
  
    .day-switch {
      width: 200px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
  
    .meal-actions {
      width: 100%;
  
      .actions {
        min-width: 700px;
        width: 80%;
        display: flex;
      }
  
      .progress-container {
        font-size: 10px;
        font-weight: bold;
      }
  
      .day-name {
        display: flex;
        align-items: center;
        p {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}