@import "../../../../styles/variables";

.box {
  height: 100vh;
  width: 100%;
  background-color: $main-color;

  .signup-container {
    width: 450px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    .google-sign-in {
      .logo-container {
        text-align: center;

        .app-name {
          margin-top: 1.5rem;
          font-size: 2em;
          font-weight: bold;
          letter-spacing: 0.2rem;
        }
      }
    }

    .user-data-form-container {
      width: 70%;
    }
  }
}
