<div class="box center">
  <div class="signup-container center">
    <div class="google-sign-in" *ngIf="!showAddionalDataForm">
      <div class="logo-container">
        <img src="assets/images/diet.png" width="150" height="150" />
        <p class="app-name">iNutrix</p>
      </div>

      <button
        type="button"
        (click)="signInWithGoogle()"
        class="btn"
        #btn
      ></button>
    </div>
    <div class="user-data-form-container" *ngIf="showAddionalDataForm">
      <user-data-form (submitForm)="saveUser($event)"></user-data-form>
    </div>
  </div>
</div>
