.meals-container {
  margin-top: 1rem;

  .meals {
    padding: 0.5rem;
    height: 75%;
    overflow-y: scroll;
  }

  .drag-and-drop {
    background-image: repeating-linear-gradient(
        13deg,
        #39a0ed,
        #39a0ed 10.56px,
        transparent 12px,
        transparent 22.560000000000002px,
        #39a0ed 24px
      ),
      repeating-linear-gradient(
        103deg,
        #39a0ed,
        #39a0ed 10.56px,
        transparent 12px,
        transparent 22.560000000000002px,
        #39a0ed 24px
      ),
      repeating-linear-gradient(
        193deg,
        #39a0ed,
        #39a0ed 10.56px,
        transparent 12px,
        transparent 22.560000000000002px,
        #39a0ed 24px
      ),
      repeating-linear-gradient(
        283deg,
        #39a0ed,
        #39a0ed 10.56px,
        transparent 12px,
        transparent 22.560000000000002px,
        #39a0ed 24px
      );
    background-size: 3px calc(100% + 24.63px), calc(100% + 24.63px) 3px,
      3px calc(100% + 24.63px), calc(100% + 24.63px) 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 1s infinite linear;
  }

  @keyframes borderAnimation {
    from {
      background-position: 0 0, -24.63px 0, 100% -24.63px, 0 100%;
    }
    to {
      background-position: 0 -24.63px, 0 0, 100% 0, -24.63px 100%;
    }
  }

  .meal-type-swicther-container {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    custom-icon {
      font-size: 3em;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      font-size: 2em;
      font-weight: bold;
    }
  }
}
